
Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:

    Introduction to Variables
    Declaring and Assigning Variables
    Naming Conventions
    Understanding Variable Types
    Type Checking and Conversion
    Dynamic Typing
    Practical Examples and Common Errors

In [1]:
a=100

In [4]:
## Declaring variable in Python
age = 32
height = 5.9
name = "Vignesh"
is_student = True

## Printing the variables
print("age :", age)
print("height :", height)
print("name :", name)
print("is_student :", is_student)

age : 32
height : 5.9
name : Vignesh
is_student : True

In [6]:
## Naming Conventions
## variable should be descriptive
## They must start with a letter or underscore
## They can contain letters, numbers, and underscores
## They are case-sensitive

## Examples of valid variable names:
valid_variable = 10
_valid_variable = 20
validVariable = 30
valid_variable_1 = 40

In [9]:
## Examples of invalid variable names:
#1invalid_variable = 50  # Cannot start with a number
#invalid-variable = 60  # Cannot contain hyphens
#valid variable = 70  # Cannot contain spaces
#@invalidVariable = 80  # Cannot start with a special character

In [10]:
#Case Sensitivity
Variable = 100
variable = 200
print("Variable:", Variable)  # This will print 100
print("variable:", variable)  # This will print 200 
if Variable == variable:
    print("Variable and variable are equal.")
else:
    print("Variable and variable are not equal.")

Variable: 100
variable: 200
Variable and variable are not equal.

In [11]:
# Understanding variable types

# In Python, variables are dynamically typed, meaning you don't need to declare their type explicitly.
# Type of variable is determined at runtime based on the value assigned to it.

age = 32  # Integer
height = 5.9  # Float
name = "Vignesh"  # String
is_student = True  # Boolean
print(type(age))  # <class 'int'>
print(type(height))  # <class 'float'>
print(type(name))  # <class 'str'>
print(type(is_student))  # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [12]:
## Type Checking and conversion

type(height)

float

In [17]:
age = 32
print(age)  # 32
print(type(age))  # <class 'int'>

# Type conversion
age_str = str(age)  # Convert integer to string
print(age_str)  # "32"
print(type(age_str))  # <class 'str'>

32
<class 'int'>
32
<class 'str'>

In [18]:
age='25'
print(type(int(age)))  # Convert string to integer

<class 'int'>

In [19]:
name = "Vignesh"
print(type(int(name)))  # <class 'int'>

ValueError: invalid literal for int() with base 10: 'Vignesh'

In [21]:
height = 5.9
print(type(height))  # <class 'float'>

<class 'float'>

In [24]:
print(int(height))
print(float(int(height)))  # Convert integer to float

5
5.0

In [27]:
## Dyanamic Typing
# Python allows you to change the type of a variable at runtime.

age = 32  # Initially an integer
print(age,type(age))  # <class 'int'>
age = "Thirty Two"  # Now a string
print(age, type(age))  # <class 'str'>
age = 25.5  # Now a float
print(age, type(age))  # <class 'float'>

32 <class 'int'>
Thirty Two <class 'str'>
25.5 <class 'float'>

In [32]:
## Input

age = int(input("Enter your age: "))
print(age, type(age))  # This will print the age and its type

32 <class 'int'>

In [34]:
### Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2
print("The sum is:", sum)
print("The difference is:", difference)
print("The product is:", product)
print("The quotient is:", quotient)

The sum is: 463.0
The difference is: 1.0
The product is: 53592.0
The quotient is: 1.0043290043290043