### DataTypes ###

1. Definition:

    Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
    They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

2. Importance of Data Types in Programming

Explanation:

    Data types ensure that data is stored in an efficient way.
    They help in performing correct operations on data.
    Proper use of data types can prevent errors and bugs in the program.



Video Outline:

    Introduction to Data Types
    Importance of Data Types in Programming
    Basic Data Types
        Integers
        Floating-point numbers
        Strings
        Booleans
    Advanced Data Types
        Lists
        Tuples
        Sets
        Dictionaries
    Type Conversion
    Practical Examples

In [1]:
## Integer Example

age = 35
type(age)

int

In [2]:
## Floating Point Example
height = 5.9
type(height)
print(height)
print(type(height))

5.9
<class 'float'>

In [3]:
## String datatype example
name = "John Doe"
type(name)
print(name)
print(type(name))

John Doe
<class 'str'>

In [5]:
## boolean datatype example
is_student = True
type(is_student)
print(is_student)
print(type(is_student))

True
<class 'bool'>

In [6]:
a=10
b=10

type(a==b)

bool

In [7]:
## common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
## Typecasting to fix the error

result = "Hello" + str(5)  # Correcting the error by converting 5 to a string
print(result)  # This will now work correctly

Hello5

In [14]:
str="Hello"
capStr = str.upper()
print(str)
print(capStr)

Hello
HELLO